.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* background-image: url("imagens/pokemon-anime-background-4.png"); */
  background-image: url("imagens/teste5.jpg");
}

header {
  background-color: rgba(255, 0, 0, 0.795);
  font-family: Impact;
  text-align: center;
  padding: 2% 2% 0% 2%;
}

.logo {
  height: 50%; 
  width: 40%;
  padding: 0% 3% 0% 3%;
}

.gif-poke {
  height: 8%; 
  width: 8%;
}

.gif-pika {
  height: 12%; 
  width: 12%;
}

footer {
  text-align: center;
}

.botons {
  text-align: center;
}

#botao-filtro, #botao-fraqueza, #botao-ordem, #botao-raridade, #ver, #vertodos, #busca {
  background-color: rgba(255, 255, 255, 0.904);
  border-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 100px;
  height: 30px;
  color: rgb(18, 16, 36);
  font: bolder 12pt arial;
  margin: 2%;
}

#ver, #vertodos {
  background-color: rgba(252, 255, 88, 0.76);
  color: black;
  border-radius: 10px;
  margin: 5%;
}

#busca {
  background-color: rgb(179, 208, 255);
  width: 220px;
  font: normal 10pt arial;
}

aside {
  text-align: center;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  margin-bottom: 1%;
  background-color: rgba(116, 182, 235, 0.733);
  border: 0.5px solid rgb(255, 255, 255);
}

#medias {
  display: inline-block;
  text-align: auto;
  font-weight: normal;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#botons-aside {
  display: inline-block;
  vertical-align: top;
  padding: 2%;
  width: 20%;
  height: 100%;
}
    
#cartao {
  text-align: center;
}
  
.card {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.781);
  text-align: center;
  font-style: italic;
  font-weight: bold;
  width: 200px;
  height: 170px;
  margin: 1%;
  padding: 0.5%;
  border: 2px solid rgb(255, 230, 0);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(165, 163, 38, 0.801);
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  
.card:hover .card-inner {
  transform: rotateY(180deg);
}
  
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
}
  
.card-front {
  background-color: rgb(233, 232, 210)160, 146, 146;
}
  
.card-back {
  background-color: rgba(255, 255, 255, 0.493);
  transform: rotateY(180deg);
}

@media (max-width: 450px) {
  .card {
    width: 120px;
    height: 170px;
    font-size: small;
    margin: 1%;
    }

  #botao-filtro, #botao-fraqueza, #botao-ordem, #botao-raridade {
    width: 120px;
    font: normal 10pt arial;
  }

  #ver, #vertodos {
    height: 30px;
    font: normal 10pt arial;
  }

  #botons-aside {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
