.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("imagens/pokemon-anime-background-4.png");
}

/* @media (min-width: 440px) {
  .container {
    max-width: 440px;
    padding: 0;
  }
    /* .card {
      width: 150px;
      height: 120px;
  } */
  
/* 1360x768 */


header {
    background-color: rgba(255, 0, 0, 0.795);
    font-family: Impact;
    text-align: center;
    padding: 2% 2% 0% 2%;
}

.logo {
  height: 50%; 
  width: 40%;
  padding: 0% 3% 0% 3%;
}

.gif-poke {
  height: 8%; 
  width: 8%;
}

.gif-pika {
  height: 12%; 
  width: 12%;
}

.botons {
  text-align: center;

  
  /* display: inline-block; */
  /* justify-content: space-between; */
  /* background-color: rgba(137, 43, 226, 0.308); */
  /* lighting-color: blue; */
    }

    #botao-filtro, #botao-fraqueza, #botao-ordem, #botao-raridade {
      background-color: rgba(255, 255, 255, 0.384);
      border-color: rgb(255, 255, 255);
      border-radius: 15px;
      width: 100px;
      height: 30px;
      color: rgb(255, 255, 255);
      font: bolder 12pt arial;
      margin-right: 2%;
      margin-left: 2%;
      margin-top: 2%;
    }
    /* #botao-fraqueza {
        background-color: rgba(90, 90, 90, 0.384);
        border-color: rgb(255, 255, 255);
        border-radius: 15px;
        width: 100px;
        height: 30px;
        color: rgb(255, 255, 255);
        font: bolder 12pt arial;
        margin-right: 5%;
      } */

main {
      background-color: rgba(0, 71, 171, 0.295);
    /* align-self: center; */
    /* justify-content: center; */
    /* text-align: center; */
    
}

aside {
  text-align: center;
  width: 100%;
  height: 150px;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: rgba(173, 173, 173, 0.452);
  border: 0.5px solid rgb(255, 255, 255);
  /* align-content: center; */
  /* display: inline-block; */
  /* justify-content: flex-end; */
  /* align-content: flex-start; */
  /* text-align: right; */
  
}
    

#cartao {
  text-align: center;
    /* display: inline-block; */
    /* justify-content: center; */
    /* align-content: auto; */
    /* align-items: auto; */
}
  
.card {
    display: inline-block;
    /* justify-content: center; */
    background-color: rgba(255, 255, 255, 0.712);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    width: 200px;
    height: 170px;
    margin: 1%;
    padding: 0.5%;
    border: 2px solid rgb(255, 230, 0);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(165, 163, 38, 0.801);
    
}
/* .card img {
  width: 100%;
} */

.card-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
  }
  
  .card-front {
    background-color: #bbb;
    /* color: black; */
  }
  
  .card-back {
    background-color: rgba(255, 255, 255, 0.493);
    /* color: white; */
    transform: rotateY(180deg);
    /* vertical-align: center; */
    /* border-radius: 5px; */
  }